Лаб 11/lab 11-3.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="zoopark">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="lev" 
type="xs:string"/>
 <xs:element name="tigr" 
type="xs:string"/>
 <xs:element name="panda" 
type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>